<div class= "d-flex justify-content-center flex-column align-items-center">
  <h1>TOUS NOS CHATEAUX</h1>
  <p>Nous avons <%= @castles.count %> chateau(x) à vous proposer.</p>
</div>

<div class= "d-flex justify-content-center flex-column align-items-center">
<%= form_tag castles_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "search-bar",
    placeholder: "Trouve ton château"
  %>
  <%= submit_tag "Search", class: "btn btn-secondary" %>
<% end %>
</div>

<div class="container-card">
  <div class="all-cards">
    <div class="castle-cards">
      <% @castles.each do |castle| %>
      <div class="card castle-card">
        <div class="card-body">
          <%= image_tag "reservations.jpg", alt: "Photo du château", class: "rounded", width: 350 %>
          <div class="card-infos">
            <h5 class="card-title"><%= castle.title %></h5>
            <p class="card-details">
            <i class="fas fa-map-marker-alt"></i> <%= castle.address %><br>
            <i class="fas fa-user"></i> <%= castle.max_capacity %> voyageurs<br>
            <strong class="castle-price"><%= castle.price %>€</strong> / nuit</p>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#<%= "modal_#{castle.id}" %>">
              En savoir plus
            </button>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div id="map" style="width: 60%; height: 900px" data-markers="<%= @markers.to_json %>" data-mapbox-api-key='pk.eyJ1Ijoid25kZXJqdWx6IiwiYSI6ImNrd3pkMXNmdjA1ZzAycnFsbW5vbXdscGgifQ.K_GyF4vdEd73MyqGx_vaag'></div>
</div>

