<div class= "d-flex justify-content-center flex-column align-items-center">
  <h1>TOUS NOS CHÂTEAUX<span id="point">.</span></h1>
  <p>Nous avons <%= @castles.count %> châteaux à vous proposer.</p>
</div>

<div class="d-flex justify-content-center">
  <div class="row">
    <% @castles.each do |castle| %>
      <div class="cards">
        <div class="flat-card">
          <div class="flat-card-image" style="background-image: url(https://source.unsplash.com/300x200/?castles)"></div>
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4><%= castle.title %></h4>
            </div>
            <p><%= castle.address %></p>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
              <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
              <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/></svg> <%= castle.max_capacity %>
            </div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-euro" viewBox="0 0 16 16">
              <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936c0-.11 0-.219.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.617 6.617 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/></svg> <%= castle.price %> / nuit
            </div>
          </div>
          <div class="flat-card-actions">
            <%#= link_to 'En savoir plus', castle_path(castle) %>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#<%= "modal_#{castle.id}" %>">
              En savoir plus
            </button>

            <!-- Modal -->
            <div class="modal fade" id="<%= "modal_#{castle.id}" %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="modal-header-content">
                      <h5 class="modal-title" id="exampleModalLongTitle"><%= castle.title %></h5>
                      <div class="modal-body-details">
                        <%= castle.address %>  •  <%= castle.max_capacity %> voyageurs  •  <%= castle.price %>€ / nuit
                      </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-body-details d-flex justify-content-around align-self-baseline">
                        <i class="fas fa-home"></i> Logement entier <i class="fas fa-broom"></i> Nettoyage renforcé <i class="fas fa-times"></i> Annulation gratuite
                    </div>
                    <br>
                    <div class="modal-carousel">
                      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <%= image_tag("chato", class: "d-block w-100", alt: "First slide") %>
                          </div>
                          <div class="carousel-item">
                            <%= image_tag("piece", class: "d-block w-100", alt: "Second slide") %>
                          </div>
                          <div class="carousel-item">
                            <%= image_tag("interieur", class: "d-block w-100", alt: "Third slide") %>
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    </div>
                    <div class="modal-description">
                      <br>
                      <%= castle.description %>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <%= link_to "Je réserve", new_castle_booking_path(castle.id), class: "btn btn-secondary" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div
  id="map"
  style="width: 100%; height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key='pk.eyJ1Ijoid25kZXJqdWx6IiwiYSI6ImNrd3pkMXNmdjA1ZzAycnFsbW5vbXdscGgifQ.K_GyF4vdEd73MyqGx_vaag'>
</div>
